<div class="container">
  <div class="recipe-list">
    <!-- RubyCode recipesの一覧を表示 -->
	<% @recipes.each do |recipe| %>
		<%= render partial:'components/recipe', locals: { recipe: recipe } %>
	<% end %>
  </div>
</div>
