<div class="card recipe-card">
  <%= image_tag image_path(recipe.image_url), alt: "", class: "recipe-img" %>
  <div class="card-body">
    <p class="card-title">
      <%= recipe.title %>
    </p>
    <p class="card-text">
      <%= recipe.description %>
    </p>
    <%= link_to "詳しく見る", recipe_path(recipe), class: "card-link" %>
  </div>
</div>
