<div class="card recipe-card">
  <!-- recipeの画像を表示 -->
  <div class="card-body">
    <p class="card-title">
      <!-- recipeのタイトルを表示 -->
    </p>
    <p class="card-text">
      <!-- recipeのタイトルを表示 -->
    </p>
    <!-- recipeのshowページへ遷移 -->
  </div>
</div>
