<div class="edit-step-form form">
  <!-- RubyCode step form生成 -->
    <div class="form-group">
      <!-- RubyCode recipe description label-->
      <!-- RubyCode recipe description textarea-->
    </div>
    <div class="button-area">
      <!-- RubyCode step form送信ボタン-->
      <!-- RubyCode step 削除ボタン-->
    </div>
  <!-- RubyCode step formの閉じ -->
</div>
