<div class="edit-recipe-form form">
  <!-- RubyCode form生成 -->
    <div class="form-group">
      <!-- RubyCode recipe title label-->
      <!-- RubyCode recipe title text field-->
    </div>
    <div class="form-group">
      <!-- RubyCode recipe description label-->
      <!-- RubyCode recipe description textarea-->
    </div>
    <div class="form-group">
      <!-- RubyCode recipe 画像URL label-->
      <!-- RubyCode recipe 画像URL text field-->
    </div>
    <div class="button-area">
      <!-- RubyCode recipe form送信ボタン-->
      <!-- RubyCode recipe削除ボタン-->
    </div>
  <!-- RubyCode recipe formの閉じ -->
</div>
