<div class="container">
  <div class="recipe-list">
    <!-- RubyCode recipesについて繰り返す -->
      <div class="card recipe-card">
        <!-- RubyCode Recipeの画像URLから画像を表示 -->
        <div class="card-body">
          <p class="card-title">
            <!-- RubyCode Recipe タイトル表示 -->
          </p>
          <p class="card-text">
            <!-- RubyCode Recipe 詳細表示 -->
          </p>
          <div class="step-short-list list-group list-group-flush">
            <!-- RubyCode recipeのstepsについて最大3回繰り返す -->
              <div class="list-group-item step-item">
                <!-- RubyCode stepのdecriptionの初めの10文字だけ表示 -->
              </div>
            <!-- RubyCode 繰り返しのend -->
          </div>
          <div>
            <!-- RubyCode recipeのshowへ遷移 -->
          </div>
        </div>
      </div>
    <!-- RubyCode 繰り返しのend -->
  </div>
</div>
