<div class="recipe-form form">
  <!-- RubyCode recipe form生成 -->
    <div class="form-group title">
      <!-- RubyCode recipe title label-->
      <!-- RubyCode recipe title text field-->
    </div>
    <div class="form-group description">
      <!-- RubyCode recipe description label-->
      <!-- RubyCode recipe description textarea-->
    </div>
    <div class="form-group image_url">
      <!-- RubyCode recipe 画像URL label-->
      <!-- RubyCode recipe 画像URL text field-->
    </div>
  <!-- RubyCode recipe formの閉じ -->
</div>
