<div class="container recipe-show">
  <div class="card">
  <h5 class="card-header">レシピ詳細</h5>
  <div class="card-body">
    <div class="row recipe-detail">
      <div class="col-sm-4">
        <!-- RubyCode recipeの画像 -->
      </div>
      <div class="col-sm-8">
        <h5 class="card-title">
          <!-- RubyCode recipeのタイトル表示 -->
		<%= @recipe.title %>
        </h5>
        <p class="card-text">
          <!-- RubyCode recipeの詳細表示 -->
	<%= @recipe.description %>
        </p>
        <!-- RubyCode recipe編集画面へ遷移 -->
        <!-- RubyCode recipeのstep追加画面へ遷移 -->
        <!-- RubyCode recipeが公開されていれば、非公開にするボタンを表示 -->
        <!-- RubyCode recipeが公開されていなければ、公開するURLを叩く -->
      </div>
    </div>
    <div class="recipe-show-steps list-group list-group-flush">
      <!-- RubyCode recipeのstepsだけ繰り返す -->
        <div class="list-group-item step-item">
          <div class="row">
            <div class="col">
              <!-- RubyCode stepの詳細を表示 -->
            </div>
            <div class="col-sm-3 to-edit">
              <!-- RubyCode stepの編集画面へ遷移 -->
            </div>
          </div>
        </div>
      <!-- RubyCode 繰り返しの終わり -->
    </div>
  </div>
</div>
</div>
