<nav class="navbar navbar-light bg-light navbar-custom">
  <%= link_to "Reivo Summer Internship", root_path, class: "navbar-brand"%>
  <div class="button-area">
    <%= link_to "全てのレシピへ", recipes_path, class: "btn btn-outline-success my-2 header-button-item" %>
    <%= link_to "レシピを投稿", new_recipe_path, class: "btn btn-outline-success my-2 header-button-item" %>
  </div>
</nav>
